html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
  }
  
  html {
    background-color: #00539F;
  }
  
  body {
    width: 600px;  /* 元素的宽度:强制页面永远保持 600 像素宽 */
    margin: 0 auto;  /* 为 margin 或 padding 等属性设置两个值时，第一个值代表元素的上方和下方（在这个例子中设置为 0），而第二个值代表左边和右边（在这里，auto 是一个特殊的值，意思是水平方向上左右对称）。*/
    background-color: #FF9500;  
    padding: 0 20px 20px 20px;    /* 你也可以使用一个（全部），三个（上 左右 下）或四个值（上 右 下 左 顺时针顺序）。 */
    border: 5px solid black;    /* padding内边距，围绕着内容（比如段落）的空间 < border即边框，紧接着内边距的线 < margin即外边距，围绕元素外部的空间 */
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

  img {
    display: block;   /* 给予图像块级行为，使其像body元素一样可以改变其页边距 */
    margin: 0 auto;
  }